[user]
	name = dulanov
	email = dulanov@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
    tool = vimdiff
[alias]
    st = status -s
[giggle]
	main-window-maximized = false
	main-window-geometry = 700x550+618+166
	main-window-view = HistoryView
